<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>551616110234-ve64ieq512b7mdr63586sn3i71r5mu65.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.551616110234-ve64ieq512b7mdr63586sn3i71r5mu65</string>
	<key>API_KEY</key>
	<string>AIzaSyCG8v8UYBJCRPlIBd8UYjiLSSFhq36C2RY</string>
	<key>GCM_SENDER_ID</key>
	<string>551616110234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taxiBaghdad</string>
	<key>PROJECT_ID</key>
	<string>taxibaghdad-6890f</string>
	<key>STORAGE_BUCKET</key>
	<string>taxibaghdad-6890f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:551616110234:ios:8e7320ebb742ade1844923</string>
	<key>DATABASE_URL</key>
	<string>https://taxibaghdad-6890f-default-rtdb.firebaseio.com</string>
</dict>
</plist>